---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PortfolioEntries from "@components/portfolio-entries.astro";
import Link from "@components/ui/link.astro";

export const prerender = true; //in SSR mode allows searchParams

let search = Astro.url.searchParams.get("search")! || "";

// Filter portfolio entries with 'draft: false' & date before current date
const publishedPortfolioEntries = await getCollection(
  "portfolio",
  ({ data }) => {
    return !data.draft && data.publishDate < new Date();
  },
);

function filterByCategory(entries, category) {
  if (category === "") return entries;
  return entries.filter((entry) => {
    return entry.data.category === category;
  });
}

// Sort content entries by publication date
publishedPortfolioEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout title="Portfolio">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Portfolio Projects</Fragment>
      <Fragment slot="desc">
        Here's a list of recent projects I have worked on
      </Fragment>
    </Sectionhead>
    <main class="mt-16 flex flex-col gap-6">
      <div class="flex flex-col gap-4">
        <div class="flex gap-2 justify-center">
          <Link
            href="/portfolio"
            size="sm"
            style="subtle"
            isActive={search === "" && true}>
            All
          </Link>
          <Link
            id="link-fullstack"
            href="/portfolio/?search=Full-stack App"
            size="sm"
            style="subtle"
            isActive={search === "Full-stack App" && true}>
            Full-stack App
          </Link>
          <Link
            href="/portfolio/?search=UI/UX Design"
            size="sm"
            style="subtle"
            isActive={search === "UI/UX Design" && true}>
            UI/UX
          </Link>
          <Link
            href="/portfolio/?search=E-Commerce Store"
            size="sm"
            style="subtle"
            isActive={search === "E-Commerce Store" && true}>
            E-Commerce
          </Link>
          <Link
            href="/portfolio/?search=Static Site"
            size="sm"
            style="subtle"
            isActive={search === "Static Site" && true}>
            Static Site
          </Link>
        </div>
      </div>
      <PortfolioEntries
        entries={filterByCategory(publishedPortfolioEntries, search)}
      />
    </main>
  </Container>
</Layout>
