---
import Button from './ui/button.astro'
---

<div
  class="bg-foreground p-8 md:px-20 md:py-20 mx-auto max-w-5xl rounded-lg flex flex-col gap-4 items-center text-center">
  <h2 class="typo-h2 text-background">Let's get in touch!</h2>
  <p class="p-typo text-background/70">
    If you're looking for a developer to join your team or help you build your web project, get in touch with me!
  </p>

  <Button style="inverted" href="/contact" style="inverted">Contact Me!</Button>
</div>
