---
import { Icon } from 'astro-icon'
---

<div class="py-16 md:mt-0">
  <h2 class="text-center text-slate-500">My tech stack</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-between mt-10 flex-wrap">
    <Icon
      class="h-12 md:h-16 opacity-60 hover:opacity-100 hover:scale-110 transition-all duration-300"
      name="teenyicons:figma-outline"
    />
    <Icon
      class="h-12 md:h-16 opacity-60 hover:opacity-100 hover:scale-110 transition-all duration-300"
      name="simple-icons:react"
    />
    <Icon
      class="h-12 md:h-16 opacity-60 hover:opacity-100 hover:scale-110 transition-all duration-300"
      name="simple-icons:tailwindcss"
    />
    <Icon
      class="h-12 md:h-16 opacity-60 hover:opacity-100 hover:scale-110 transition-all duration-300"
      name="cib:next-js"
    />
    <Icon
      class="h-12 md:h-16 opacity-60 hover:opacity-100 hover:scale-110 transition-all duration-300"
      name="simple-icons:mongodb"
    />
    <Icon
      class="h-12 md:h-16 opacity-60 hover:opacity-100 hover:scale-110 transition-all duration-300"
      name="simple-icons:vercel"
    />
  </div>
</div>
